@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
body {
  background-color: #2F1847;
}
#card {
  padding-top: 20px;
  text-align: center;
  width: 300px;
  height: 300px;
  background-color: #624763;
  border-radius: 20px;
}
#card img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
#cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 700px;
  margin: auto;
  grid-row-gap: 20px;
  justify-items: center;
}
#scoreboard {
  color: gold;
  text-align: end;
  padding-left: 20px;
}
#winDisplay {
  text-align: center;
  background-color: #624763;
  color: gold;
  width: 500px;
  font-family: 'Zen Antique', serif;
  font-size: 80px;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  display: table-cell;
  vertical-align: center;
  top: 200px;;
}
.hide {
  visibility: hidden;
}
h2 {
  color: white;
  font-family: 'Zen Antique', serif;
}

@media (min-width:1025px) {
  #cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: auto;
    margin: auto;
    justify-items: center;
  }
}
@media (min-width:1281px) {
  #cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: auto;
    margin: auto;
    justify-items: center;
  }
}
